body {
    background: rgb(30, 66, 200);
    overflow: hidden;
}

#sky {
    background: rgb(30, 66, 200);
}

.cloud {
    position: absolute;
    background-size: 25px;
    transition: left 5s, top 5s;
}